<ion-header>
  <ion-navbar>
    <ion-title>
      Bird Sounds
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-bounce class="bg">
  <h2>Birds  Sounds</h2>
  <ion-slides pager>
    <ion-slide *ngFor="let page of pages">
      <ion-grid>
        <ion-row>
          <ion-col col-4 *ngFor="let item of page" (click)="play(item.audio)">
            <img src="{{item.icon}}"  height="200px" width="200px"/>
            <ion-icon class="play_icon" ios="ios-play" md="md-play"></ion-icon>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-slide>
  </ion-slides>

</ion-content>
